<nav class="navbar navbar-dark mb-5">
  <div class="container">
    <ul class="nav nav-pills" style="color: antiquewhite;">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <form class="d-flex">
      <button *ngIf="isUserLogout" class="btn btn-success mx-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
      <button *ngIf="isUserLogout" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">Signup</button>
      <button *ngIf="isUserLogin" class="btn btn-primary" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
<div style="margin-bottom: 200px">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  
  <div class="container d-flex justify-content-center py-3">
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <i class="fab fa-facebook-f"></i>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <i class="fab fa-youtube"></i>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <i class="fab fa-instagram"></i>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <i class="fab fa-twitter"></i>
    </button>
  </div>

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Shopify</a>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-info text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signup Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
              <div class="mb-3">
                <label for="fname" class="form-label">Frist Name</label>
                <input type="text" [(ngModel)]="fname" class="form-control">
              </div>
              <div class="mb-3">
                  <label for="lname" class="form-label">Last Name</label>
                  <input type="text" [(ngModel)]="lname" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email ID</label>
                  <input type="email" [(ngModel)]="email" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="salary" class="form-label">Password</label>
                  <input type="text" [(ngModel)]="password" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="mobno" class="form-label">Mobile Number</label>
                  <input type="text" [(ngModel)]="phone" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="mobno" class="form-label">Location</label>
                  <input type="text" [(ngModel)]="location" class="form-control">
                </div>
            
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary" (click)="login()">Sing in</button> -->
        <button type="button" class="btn btn-primary" (click)="signup()">Sing up</button>
        <!-- <button type="button" *ngIf="showAddBtn" class="btn btn-primary" (click)="postEmployeeDetails()">Add</button>
        <button type="button" *ngIf="showUpdBtn" class="btn btn-primary" (click)="updateEmployeeDetails()">Update</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-info text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
              <!-- <div class="mb-3">
                <label for="fname" class="form-label">Frist Name</label>
                <input type="text" [(ngModel)]="fname" class="form-control">
              </div> -->
              <!-- <div class="mb-3">
                  <label for="lname" class="form-label">Last Name</label>
                  <input type="text" [(ngModel)]="lName" class="form-control">
                </div> -->
                <div class="mb-3">
                  <label for="email" class="form-label">Email ID</label>
                  <input type="email" [(ngModel)]="email" class="form-control">
                </div>
                <!-- <div class="mb-3">
                  <label for="mobno" class="form-label">Mobile Number</label>
                  <input type="text" [(ngModel)]="phone" class="form-control">
                </div> -->
                <div class="mb-3">
                  <label for="salary" class="form-label">Password</label>
                  <input type="text" [(ngModel)]="password" class="form-control">
                </div>
            
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal1" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="login()">Sing in</button>
        <!-- <button type="button" class="btn btn-primary" (click)="signup()">Sing up</button> -->
        <!-- <button type="button" *ngIf="showAddBtn" class="btn btn-primary" (click)="postEmployeeDetails()">Add</button>
        <button type="button" *ngIf="showUpdBtn" class="btn btn-primary" (click)="updateEmployeeDetails()">Update</button> -->
      </div>
    </div>
  </div>
</div>