nav {
  /* background: linear-gradient(to right, #7c2b58, #44d468); */
  background-color: rgb(31, 31, 150);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #0b0d6b, #4947e7);
  color: white;
  text-align: center;
}
button {
  opacity: 0.8;
}
